.img {
  width: 300px;
  height: 400px;
  position: relative;
  perspective: 500px;
}

.img::before,
.img::after {
  content: '';
  width: 100%;
  height: 100%;
  position: absolute;
  box-sizing: border-box;
  transition: 0.6s transform linear;
  backface-visibility: hidden;
}

.img::after {
  background: url('../../assets/illustrations/me.jpg');
  background-size: cover;
}

.img::before {
  background: url('../../assets/illustrations/me2.jpg');
  background-size: cover;
  transform: rotateY(180deg);
}

.img:hover::after {
  transform: rotateY(180deg);
}

.img:hover::before {
  transform: rotate(360deg);
}

.container {
  min-height: 90vh;
  min-width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem 0;
  margin-bottom: 6rem;

  @media (max-width: 922px) {
    min-height: 90vh;
  }
}

.intro,
.hobby {
  width: 60%;

  @media (max-width: 1700px) {
    width: 65%;
  }

  @media (max-width: 1400px) {
    width: 75%;
  }

  @media (max-width: 1200px) {
    width: 85%;

    .img {
      width: 250px;
      height: 350px;
    }
  }

  @media (max-width: 922px) {
    padding-top: 5rem;
  }
}

.hobby {

  @media (max-width: 1060px) {
    width: 50%;
  }

  @media (max-width: 922px) {
    width: 60%;
  }

  @media (max-width: 780px) {
    width: 70%;
  }

  @media (max-width: 650px) {
    width: 85%;
  }
}

.travels {
  width: 45%;

  @media (max-width: 1400px) {
    width: 60%;
  }

  @media (max-width: 1200px) {
    width: 70%;
  }

  @media (max-width: 900px) {
    width: 95%;
  }
}

.intro,
.hobby,
.travels {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: flex-start;
  cursor: default;
  gap: 5rem;
}

.introInfo {
  width: fit-content;
  display: grid;
  grid-template-columns: 1fr 2fr;
  column-gap: 8rem;
  align-items: flex-start;

  @media (max-width: 922px) {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3rem;
  }
  // padding: 2rem;

  // &::before {
  //   content: '';
  //   position: absolute;
  //   box-sizing: border-box;
  //   width: 0;
  //   height: 0;
  //   border: 2px solid transparent;
  //   top: 0;
  //   left: 0;
  //   border-top-color: #FFF;
  //   border-right-color: #FFF;
  //   animation: borderTop 2s infinite;
  // }
}

// @keyframes borderTop {
//   0% {
//     width: 0;
//     height: 0;
//   }
//   50% {
//     width: 30%;
//     height: 0;
//   }
//   100% {
//     width: 60%;
//     height: 0;
//   }
// }

// .hobbySlider {
//   width: 50%;
//   display: grid;
//   grid-template-columns: 1fr 10fr 1fr;
//   align-items: center;
//   column-gap: 1.5rem;

//   img {
//     cursor: pointer;
//   }

//   .darkArrow {
//     cursor: default;
//   }
// }

.travelsSlider {
  width: 100%;
}

.hobbyBoxes {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  row-gap: 4rem;
  column-gap: 4rem;

  @media (max-width: 1060px) {
    display: flex;
    flex-direction: column;
  }
}

.hobbyBox {
  width: 100%;
  height: 400px;
  perspective: 600px;

  @media (max-width: 1550px) {
    height: 465px;
  }

  @media (max-width: 1060px) {
    height: 420px;
  }

  @media (max-width: 600px) {
    height: 500px;
  }

  @media (max-width: 410px) {
    height: 620px;
  }

  @media (max-width: 350px) {
    height: 720px;
  }
}

.hobbyBoxContent {
  width: 100%;
  height: 100%;
  position: relative;
  transition: transform 1s;
  transform-style: preserve-3d;
}

.frontBox {
  background: rgba(191, 79, 97, 0.1);
  display: flex;
  justify-content: center;
  align-items: center;
}

.hobbyBox:hover .hobbyBoxContent {
  transform: rotateY(180deg);
  transition: transform 0.6s linear;
}

.frontBox,
.backBox {
  width: 100%;
  height: 100%;
  position: absolute;
  backface-visibility: hidden;
}

.backBox {
  transform: rotateY(180deg);
}
// .awssld {
//   --content-background-color: none !important;
// }
