.OHamburger {
  position: fixed;
  z-index: 7;
  right: 1rem;
  top: 0.91rem;
  display: flex;
  flex-direction: column;
  background-color: #000;
  box-shadow: 0 0 0 100rem rgba(0, 0, 0, 0.9);

  @media (max-width: 500px) {
    top: 1.1rem;
  }

  > img {
    cursor: pointer;
    align-self: flex-end;

    @media (max-width: 500px) {
      width: 35px;
      height: 35px;
    }
  }
  
  nav {
    align-self: flex-end;
  }

  ul {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    background: rgba(191, 79, 97, 0.2);
    border-radius: 16px;
    height: fit-content;
    padding: 1rem;
    white-space: nowrap;

    @media (max-width: 500px) {
      padding: 0.5rem 0.8rem;
    }
  }

  li {
    padding: 0.5rem 0;

    @media (max-width: 500px) {
      padding: 0.4rem 0;
    }
  }
}
