.icons {
  display: flex;
  flex-direction: row;
  align-items: center;

  > a {
    padding-right: 1rem;
  }

  img {
    background-color: #000;
  }

  @media (max-width: 1100px) {
    > a {
      padding-right: 0.7rem;
    }

    img {
      width: 30px;
      height: 30px;
    }
  }

  @media (max-width: 600px) {
    > a {
      padding-right: 0.4rem;
    }
  }
}
