.box {
  height: 100%;
  background: rgba(191, 79, 97, 0.1);
  padding: 3rem 3rem;
  display: flex;
  flex-direction: column;

  @media (max-width: 650px) {
    padding: 1.8rem 2rem;
    font-size: 0.8em;
  }

  @media (max-width: 530px) {
    padding: 1rem 1.3rem;
  }

  @media (max-width: 425px) {
    font-size: 0.7em;
  }

  @media (max-width: 370px) {
    padding: 0.5rem 0.8rem;
    font-size: 0.58em;
  }
}

.titleStyle {
  margin-bottom: 2rem;

  @media (max-width: 530px) {
    margin-bottom: 0;
  }
}

.link {
  font-style: italic;
}
