.box {
  height: 100%;
  background: rgba(191, 79, 97, 0.1);
  padding: 3rem 3.5rem;
  display: flex;
  flex-direction: column;
  white-space: pre-wrap;

  @media (max-width: 500px) {
    padding: 2rem 2.5rem;
  }
}

.titleStyle {
  margin-bottom: 2rem;
}

.link {
  font-style: italic;
}
