.button {
  top: 0;
  left: 0;
  height: 70px;
  padding: 0 1rem;
  position: fixed;
  z-index: 6;
  background: none;
  border: none;
  font-size: 1.5em;
  cursor: pointer;

  @media (max-width: 1100px) {
    height: 30px;
  }
}
