@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap" rel="stylesheet');

*  {
  margin: 0;
  padding: 0;
  color: #fff;
  font-family: 'Roboto', 'Open Sans', sans-serif;
  box-sizing: border-box;
  z-index: 3;
  word-spacing: 0.1rem;
  scroll-behavior: smooth;
  -webkit-tap-highlight-color: transparent;
}
